*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header{
	height:70px;
	background-color: #EC715F;
}

.container{
	height: 70px;
	width: 1024px;
	margin:0 auto;
}

.logo{
	height: 70px;
}
nav{
	display: block;
	float :right;
}

.nav{
	display: block;
}

.nav-list{
	float: left;
	font-size: 16px;
	color: #FAFAFA;
	list-style: none;
	padding: 30px;
}
#mv{
	height:650px;
	width: 100%;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
}