*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header{
	height:70px;
	background-color: #EC715F;
}

.container{
	height: 70px;
	width: 1024px;
	margin:0 auto;
}

.logo{
	height: 70px;
}
nav{
	height: 70px;
	display: block;
	float:right;
}

.nav{
	display: block;
}

.nav-list{
	float: left;
	font-size: 16px;
	color: #FAFAFA;
	list-style: none;
	padding: 0 30px;
	line-height: 70px;
}
#mv{
	height:650px;
	width: 100%;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
	text-align: center;
}


.mv-title{
	color: #FAFAFA;
	font-size:64px;
	padding-top: 200px;
	padding-bottom: 10px;
}

.mv-body{
	color: #FAFAFA;
	font-size: 20px;
}
